.header{
    padding: 20px;
    text-align: center;
   
}






.headertext{
    color: black;
    padding: 8px;
    background-color: white;
    text-decoration: none;
    margin: auto;

    
}